*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    background-color: black;
}

header{
  padding: 20px 10px;
  margin-bottom: 20px;   
}



#start{
    border: none;
    background-color:  #000000;
    color: rgb(43, 255, 0);
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid rgb(43, 255, 0);
}


#grid{
    max-width: 1200px;
    height: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid rgb(43, 255, 0);
    color: rgb(43, 255, 0);
    background-color:#000000;
}

.clicked{
    background-color: rgba(105, 211, 19, 0.705);
}